html,#app, #app>div {
  height: 100vh;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  --bd-pink-rgb: 214,51,132;
  background-image: linear-gradient(
      180deg,
      rgba(255,255,255, 0.01),
      rgba(255,255,255, 1) 85%),
      radial-gradient(ellipse at top left, rgba(13,110,253, 0.5), transparent 50%),
      radial-gradient(ellipse at top right, rgba(255,228,132, 0.5), transparent 50%),
      radial-gradient(ellipse at center left, rgba(112.520718,44.062154,249.437846, 0.5), transparent 50%),
      radial-gradient(ellipse at center right, rgba(214,51,132, 0.5), transparent 50%);
}